<div class="form-wrapper">
  <div class="form">
    <form [formGroup]="videosForm">
      <div class="form-fields">
        <div class="form-fields__item">
          <label for="DefLanguage">Enter default language</label>
          <input
            type="text"
            id="DefLanguage"
            class="form-control"
            formControlName="DefLanguage">
        </div>
        <div class="form-fields__item">
          <label for="ChannelDescription">Enter channel Description</label>
          <input
            type="text"
            id="ChannelDescription"
            class="form-control"
            formControlName="ChannelDescription">
        </div>
      </div>
      <div>
        <div class="form-buttons">
          <button type="submit" (click)="modalService.close('m-1'); onSubmit()">Ok</button>
          <button type="button" (click)="modalService.close('m-1')">Cancel</button>
          <button type="button">lorem</button>
        </div>
      </div>
    </form>
  </div>
</div>

