.scrollable-area {

  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;

  justify-content: space-evenly;
  justify-self: center;
}


.example-card{
  margin-top: 16%;
  height: 90%;
  width: 100%;
}

.contain{
  height: 50%;
  width: 100%;
  object-fit: contain;
}
