<div class="container">


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{data.title | cutText:40}}</mat-card-title>
    </mat-card-header>
    <img [src]="data.imgSource" class="card-img-top contain" alt="...">
    <mat-card-content>
      <div class="description">{{data.description | cutText: 80}}</div>
    </mat-card-content>
    <mat-card-actions>
      <mat-card-title>{{data.rusTitle | cutText:40}}</mat-card-title>
      <div class="description">{{data.rusDescription | cutText: 80}}</div>
    </mat-card-actions>
  </mat-card>
  <br>

  <div>
    <form [formGroup]="videoEditForm" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>default title</mat-label>
        <input matInput type="text" formControlName="enTitle"
               (keyup)="onChange('enTitle' ,this._enTitle.value)">
        <div *ngIf="_enTitle.invalid && (_enTitle.touched || _enTitle.dirty)">
      <span *ngIf="_enTitle.errors?.required" class="span-required">
        Field is required
      </span>
          <span *ngIf="_enTitle.value.length > 40">
        Max length is 40
      </span>
        </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>default description</mat-label>
        <input matInput type="text" formControlName="enDescription"
               (keyup)="onChange('enDescription' ,this._enDescription.value)">
        <div *ngIf="_enDescription.invalid && (_enDescription.touched || _enDescription.dirty)">
      <span *ngIf="_enDescription.errors?.required" class="span-required">
        Field is required
      </span>
          <span *ngIf="_enDescription.value.length > 80" class="span-required">
        Max length is 80
      </span>
        </div>
      </mat-form-field>
      <div class="optional-fields-title">Optional Fields</div>
      <mat-form-field appearance="fill">
        <mat-label>Russian title</mat-label>
        <input matInput type="text" formControlName="ruTitle"
               (keyup)="onChange('ruTitle' ,this._ruTitle.value)">
        <div *ngIf="_ruTitle.invalid && (_ruTitle.touched || _ruTitle.dirty)">
      <span *ngIf="_ruTitle.value.length > 40" class="span-required">
        Max length is 40
      </span>
        </div>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Russian description</mat-label>
        <input matInput type="text" formControlName="ruDescription"
               (keyup)="onChange('ruDescription' ,this._ruDescription.value)">
        <div *ngIf="_ruDescription.invalid && (_ruDescription.touched || _ruDescription.dirty)">
      <span *ngIf="_ruDescription.value.length > 40" class>
        Max length is 80
      </span>
        </div>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="onSubmit()"> Save</button>
      <button mat-raised-button color="accent" (click)="onCancel()"> Cancel</button>
    </form>
  </div>
</div>

