.scrollable-area {

  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-evenly;
  justify-self: center;


}


.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--skoll {
  overflow: hidden;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 0;
  font-weight: 500;
}

.button--skoll span {
  display: block;
  position: relative;
}

.button--skoll > span {
  overflow: hidden;
  mix-blend-mode: difference;
}.button--skoll:hover > span > span {
   animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
 }

.button--skoll::before {
  content: '';
  background: #3b3759;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  transform: translate3d(0,0,0);
  transition: transform 0.3s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.button--skoll:hover::before {
  transform: translate3d(0,100%,0);
}



body {
  background-color: #eee;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #222;
}

.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}
label, input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
}
label {
  text-align: right;
  width: 30%;
}
input {
  border: 2px solid #aaa;
  border-radius: 2px;
}

