<h1>Home page</h1>

<h1>Videos from channel Net Ninja</h1>

<div class="scrollable-area">
  <div *ngFor="let video of this.videos">
    <div>
      <a href="https://www.youtube.com/watch?v={{video.videoId}}"   >
        <img [src]="video.imgSource" class="card-img-top" alt="..."></a>
      <div>
        <h5>
          <a href="https://www.youtube.com/watch?v={{video.videoId}}" (click)="$event.preventDefault(); OnModal()">
            {{video.title}}
          </a>
        </h5>
        <div class="description">{{video.description.slice(0, 80)}}</div>
      </div>
    </div>
  </div>
</div>


