<h1>This is profile page</h1>


<div class="main" *ngIf="socialAuthService.authState | async as socialUser">
  <section class="top-card">
    <img src="{{socialUser.photoUrl}}" alt="UserPhoto">
    <div class="menu-icon">
      <div class="menu item1"><i class="fas fa-heart"></i></div>
      <div class="menu item2"><i class="fas fa-bars"></i></div>
    </div>
  </section>

  <section class="middle-card">
    <h1> {{socialUser.name}}</h1>
    <p class="mail">{{socialUser.email}}</p>
    <p>
      User description User description User description User description
      User description User description User description User description

    </p>
  </section>
</div>


<button mat-raised-button color="primary" (click)="openDialog()">Change data </button>
<button mat-raised-button color="accent" (click)="refreshToken()">Refresh token</button>








