.main {
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  background-color: #fdfcfc;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 10px;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.505);
  margin: 50px auto;

}

.top-card img {
  width: 100%;

}

.mail{
  color: #7f7f7f;
}



.h1{
  font-size: 22px;
  color: #000;
  font-weight: 600;
  margin: 12px 0;
  text-align: center;
}

.mat-raised-button{
  margin: 5px;
}












