.board-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.board-side-bar{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  background-color: #464071;
  width: 100%;

}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
  padding-top: 1%;
}

nav i{
  margin: auto;
  padding: 20px;
}

nav mat-icon{
  margin: auto;
  padding: 20px;
}


.white-icon {
  color: white;
}

.mat-form-field {
  color: white;
}

.mat-form-field-label {
  color: white;
}

.icon-display {
  transform: scale(1.4);
}
.input-display{
  transform: scale(1.3);

}



.card-area {
  padding: 10px 0 10px 0;
  margin: 2% 2% 2% 5%;


}


.central-icons-wrapper{
  display: flex;
  width: 100%;
}
