<div class="board-container">
    <div class="board-side-bar">
      <div class="central-icons-wrapper">
        <nav>
          <div class="left-items">
            <i class="material-icons white-icon icon-display" routerLink="/home" routerLinkActive="active">menu</i>
            <i class="material-icons white-icon icon-display" routerLink="/second" routerLinkActive="active">video_library</i>
          </div>
          <div class="central-items">
            <mat-form-field class="input-display" #searchForm>
              <input id="app_search_input"
                     matInput
                     type="search"
                     #app_search_input
                     placeholder="Enter smth"
                     class="search-input" >
              <button matSuffix mat-button><mat-icon class="white-icon input-display"
                                                     (click)="searchRequest(app_search_input.value); app_search_input.value ='' ">search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="right-items">
            <mat-icon class="white-icon icon-display" > video_call </mat-icon>
            <mat-icon class="white-icon icon-display"> notifications_none </mat-icon>
            <mat-icon class="white-icon icon-display" [matMenuTriggerFor]="afterMenu"> person </mat-icon>
            <mat-menu #afterMenu="matMenu" xPosition="before">
              <button mat-menu-item routerLink="/logout" routerLinkActive="active">Profile</button>
              <button mat-menu-item (click)="this.authService.signOutWithGoogle()">Log out</button>
            </mat-menu>
          </div>
        </nav>
      </div>
    </div>
    <div class="card-area">
      <router-outlet></router-outlet>
    </div>
</div>

<!--          <img class="svg imgs " src="../../../assets/iyoutube.svg" alt="1" routerLink="/first" routerLinkActive="active"/>-->
<!--          <img class="svg imgs " src="../../../assets/iyoutube.svg" alt="2" routerLink="/second" routerLinkActive="active"/>-->
<!--          <img class="svg imgs " src="../../../assets/iyoutube.svg" alt="3" routerLink="/third" routerLinkActive="active"/>-->
<!--          <img class="svg imgs " src="../../../assets/iyoutube.svg" alt="4" routerLink="/fourth" routerLinkActive="active"/>-->
<!--          <img class="svg imgs profile-icon" src="../../../assets/users.png" alt="5" routerLink="/logout" routerLinkActive="active"/>-->
