<h1>Videos from your channel</h1>
<button
  mat-raised-button
  class="mat-background-warn add_card"
  (click)="navigateOnVideoChangePage('adding_new_video')"
>
  Add video
</button>

<div class="scrollable-area">
  <div class="example-card-cover" *ngFor="let video of this.myVideos">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ video.title | cutText: 40 }}</mat-card-title>
      </mat-card-header>
      <img [src]="video.imgSource" class="card-img-top contain" alt="..." />
      <mat-card-content>
        <div class="description">{{ video.description | cutText: 80 }}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onLike(video.videoId)">LIKE</button>
        <button mat-button (click)="onDisLike(video.videoId)">DISLIKE</button>
        <div *ngIf="!(video.videoId === 'fakeId')" class="card-actions-wrapper">
          <mat-icon
            class="white-icon icon-display"
            [matMenuTriggerFor]="afterMenu"
          >
            edit
          </mat-icon>
          <mat-menu #afterMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openDialogOnDelete(video.videoId)">
              Delete video
            </button>
            <button
              mat-menu-item
              (click)="navigateOnVideoChangePage(video.videoId)"
            >
              Edit video
            </button>
          </mat-menu>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
